
.idea/dictionaries/baka_brooks.xml
*.json
proposal.md
*.png
data/.DS_Store
flask/.DS_Store
images/.DS_Store
.ipynb_checkpoints/test_clean-checkpoint.ipynb
*.pkl
test_clean.ipynb
twitter_creds.py
*.jpg
.ipynb_checkpoints/[LOCAL] nlp_modeling_w_lemma-checkpoint.ipynb
.idea/codeStyles/codeStyleConfig.xml
.DS_Store
.ipynb_checkpoints/[LOCAL] nlp_modeling_w_lemma-checkpoint.ipynb
.ipynb_checkpoints/cleaning_w_lemma-checkpoint.ipynb
[LOCAL] nlp_modeling_w_lemma.ipynb
